body {
	font-family: "Encode Sans", sans-serif;
	margin: 0;
	padding: 0;
}

main {
	max-width: 1400px;
	margin: 0 auto;
}

header {
	max-width: 1400px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 50px;
}

.filters {
	display: flex;
	justify-content: space-between;
}

.filter {
	display: flex;
	margin-left: 5px;
	font-size: 14px;
	padding: 2px 5px;
	border: none;
	position: relative;
	.fa-solid {
		position: absolute;
		left: 8px;
		top: 4px;
	}
	p {
		margin: 0;
	}
}

@media (max-width: 800px) {
	.filters {
		flex-direction: column;
	}

	.filter {
		margin-bottom: 5px;
		max-width: 250px;
	}
}

@media (max-width: 800px) {
	.left,
	.right {
		flex-direction: column;
	}
}

.left,
.right {
	display: flex;
}

#search {
	border: none;
	border-bottom: 1px solid black;
	padding-left: 30px;
}

.checkBox {
	display: none;
}

.checkBox + label {
	background: url("../assets/img/unchecked.png") no-repeat;
	background-size: contain;
	height: 16px;
	width: 16px;
	padding-left: 3px;
}

.checkBox:checked + label {
	background: url("../assets/img/checked.png") no-repeat;
	background-size: contain;
	height: 15px;
	width: 15px;
	padding-left: 3px;
}

.vehicleList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.vehicleCard {
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(black, grey 30%);
	margin: 10px;
	padding: 40px;
	text-align: center;
	color: #e1e1e1;
	max-width: 500px;
	max-height: 50%;
	position: relative;
	.heart {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 20px;
		right: 20px;
	}
	img {
		width: 110%;
	}
	h2 {
		margin: 0;
		color: #e1e1e1;
		font-size: 19px;
	}
	h3:nth-child(2) {
		margin: 5px 5px 20px 5px;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 1px;
	}
	h3:nth-child(3) {
		margin: 5px;
		font-size: 16px;
		font-weight: 500;
	}
	div {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 3px;
		font-size: 14px;
		align-self: flex-end;
	}
	div:nth-child(2) {
		display: flex;
		justify-content: flex-end;
		color: white;
		font-size: 15px;
		font-weight: 600;
	}
	div:nth-child(2).price {
		font-size: 20px;
		margin-top: 10px;
	}
	button {
		border: none;
		padding: 10px 40px;
		margin-top: 10px;
		font-weight: 500;
	}
}

@media (max-width: 720px) {
	.vehicleCard {
		flex-grow: 1;
	}
	div:nth-child(2) span {
		margin-left: 5px;
		font-weight: 400;
		color: #e1e1e1;
		font-size: 15px;
		align-self: flex-end;
	}
}
