body {
	font-family: "Encode Sans", sans-serif;
	margin: 0;
	padding: 0;
}

main {
	max-width: 1400px;
	margin: 0 auto;
}

header {
	max-width: 1400px;
	margin: 0 auto;
	padding-left: 10px;
}

.filters {
	display: flex;
}

.filter {
	margin-left: 10px;
	font-size: 14px;
	padding: 2px 5px;
}

@media (max-width: 720px) {
	.filters {
		flex-direction: column;
	}

	.filter {
		margin-bottom: 5px;
		max-width: 250px;
	}
}

.vehicleList {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.vehicleCard {
	width: 250px;
	display: flex;
	flex-direction: column;
	background: linear-gradient(black, grey 30%);
	margin: 10px;
	padding: 40px;
	text-align: center;
	color: #e1e1e1;
	max-width: 500px;
	max-height: 50%;
}

@media (max-width: 720px) {
	.vehicleCard {
		flex-grow: 1;
	}
}

.vehicleCard img {
	width: 110%;
}

.vehicleCard h2 {
	margin: 0;
	color: #e1e1e1;
	font-size: 19px;
}

.vehicleCard h3:nth-child(2) {
	margin: 5px 5px 20px 5px;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
}

.vehicleCard h3:nth-child(3) {
	margin: 5px;
	font-size: 16px;
	font-weight: 500;
}

.vehicleCard div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3px;
	font-size: 14px;
	align-self: flex-end;
}

.vehicleCard div:nth-child(2) {
	display: flex;
	justify-content: flex-end;
	color: white;
	font-size: 15px;
	font-weight: 600;
}

.vehicleCard div:nth-child(2).price {
	font-size: 20px;
	margin-top: 10px;
}

.vehicleCard button {
	border: none;
	padding: 10px 40px;
	margin-top: 10px;
	font-weight: 500;
}

.vehicleCard div:nth-child(2) span {
	margin-left: 5px;
	font-weight: 400;
	color: #e1e1e1;
	font-size: 15px;
	align-self: flex-end;
}
