body {
  font-family: "Encode Sans", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter {
  margin-left: 5px;
  font-size: 14px;
  padding: 2px 5px;
}

@media (max-width: 800px) {
  .filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filter {
    margin-bottom: 5px;
    max-width: 250px;
  }
}
@media (max-width: 800px) {
  .left,
  .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.left,
.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#search {
  border: none;
  border-bottom: 1px solid black;
}

.vehicleList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.vehicleCard {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(30%, grey));
  background: linear-gradient(black, grey 30%);
  margin: 10px;
  padding: 40px;
  text-align: center;
  color: #e1e1e1;
  max-width: 500px;
  max-height: 50%;
  position: relative;
}

@media (max-width: 720px) {
  .vehicleCard {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.vehicleCard .heart {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.vehicleCard img {
  width: 110%;
}

.vehicleCard h2 {
  margin: 0;
  color: #e1e1e1;
  font-size: 19px;
}

.vehicleCard h3:nth-child(2) {
  margin: 5px 5px 20px 5px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

.vehicleCard h3:nth-child(3) {
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
}

.vehicleCard div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3px;
  font-size: 14px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.vehicleCard div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.vehicleCard div:nth-child(2).price {
  font-size: 20px;
  margin-top: 10px;
}

.vehicleCard button {
  border: none;
  padding: 10px 40px;
  margin-top: 10px;
  font-weight: 500;
}

.vehicleCard div:nth-child(2) span {
  margin-left: 5px;
  font-weight: 400;
  color: #e1e1e1;
  font-size: 15px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}/*# sourceMappingURL=index.css.map */